/*版心设置*/
.w{
    width: 1280px;
    margin: 0 auto;
}
/*字体图标设置开始*/
@font-face {font-family: "homeicon";
    src: url('../fonts/homeicon.eot'); /* IE9*/
    src: url('../fonts/homeicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/homeicon.woff') format('woff'), /* chrome, firefox */
    url('../fonts/homeicon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/homeicon.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.homeicon{
    font-family:"homeicon" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing:grayscale;
}
/*字体图标设置结束*/
/*广告部分模块开始*/
.div5 {
    height: 42px;
    position: absolute;
    left: 404px;
    width: 180px;
    top: 0;
    cursor: pointer;
    z-index: 3;
}
.div5:hover {
    top: 2px;
    left: 184px;
    width: 985px;
    height: 185px;
    background: url("../image/zwx2.png") no-repeat;
    background-size: 985px 185px;
}

.div6 {
    width: 1349px;
    height: 42px;
    position: absolute;
    z-index: 2;
    background: url("../image/zwx3.png") no-repeat;



}

/*广告部分模块结束*/



/*天涯明月刀主页开始*/
.webpage{
    width: 100%;
    background: #e6ecea url("../image/index1203.jpg") no-repeat 50% 0;
    /*text-align: center;*/
}

/*header部分开始*/
.header{
    position: relative;
    height: 380px;
}
.header .logo{
    position: absolute;
    top: 28px;
    left: 0;
    width: 191px;
    height: 67px;
}
.nav{
   padding-top: 46px;
  float: right;
}
.nav li{
    float: left;
    width: 100px;
    height: 128px;
}

.nav li dt{
    height: 44px;
    width: 92px;
    background-image: url("../image/nav-copy.png");
    background-repeat: no-repeat;
}
.indexNav dt a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -50px;
    overflow: hidden;
}
.indexNav dt{
    background-position: 0 100%;
}
.newNav dt{
    background-position: -110px 100%;
}
.introNav dt{
    background-position: -230px 100%;
}
.downNav dt{
    background-position: -460px 100%;
}
.interNav dt{
    background-position: -575px 100%;
}
.seeNav dt{
    background-position: -690px 100%;
}
.userNav dt{
    background-position: -800px 100%;
}
.serveNav dt{
    background-position: -920px 100%;
}
.nav dd{
    margin-top: 10px;
}
.nav dd span{
       display: block;
       line-height: 22px;

}
.nav dd span a{
    display: inline-block;
    margin: 0 0 0 1px;
    color: #525252;
    font-size: 13px
}
.nav dd a:hover{
    color:#01b8a9;
}
/*header部分结束*/

/*main主体部分开始*/
.main{
    position: relative;
}
.main .main_content{
    width: 1280px;
    height: 300px;
    margin-bottom: 15px;
}
.main_content .content_l{
    height: 100%;
    width: 186px;
    float: left;
    margin-right: 15px;
}

.content_l  li{
    height: 61px;
    background-color: #199d80;
}
.content_l  li:nth-child(3){
    border-top:1px solid  #26ae90;
    border-bottom: 1px solid #26ae90;
}
.content_l  li a{
    position: relative;
    color: #fff;
    text-align: center;
    height: 61px ;
    width: 186px;
    display: block;
    line-height: 61px;
    font-size: 13px;

}
.content_l .con_a{
    position: relative;
    color: #fff;
    text-indent: 38px;
}

.content_l  li:hover  .con_a{
    background-color:#2d8672;
}
.content_l  li a i.homeicon{
    position: absolute;
    top: 0;
    left: 45px;
    font-size: 28px;
    text-indent: 0;
    color: #8bcebf;
    cursor: pointer;
}

.content_l .content_l_down{
    height: 115px;
    background-color: #2fc3a2;
    text-align: center;
}

.content_l  .content_l_down a{
    display: block;
   font-size: 26px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    text-indent:0;
}
.content_l .content_l_down em{
    color: #1d997e;
    line-height: 100%;
    margin: -32px 0 0;
    font-size: 14px;
    font-family: arial;
    display: block;
    font-weight: normal;
}



.main_content .content_c{
    height: 100%;
    width: 799px;
    position: relative;
    background-color: yellowgreen;
    float: left;
    overflow: hidden;
}
.rotate_con{
    position: absolute;
    top: 0;
    left: 0;
    width: 799px;
    height: 100%;
    overflow: hidden;
}
.rotate{
    position: absolute;
    top: 0;
    left: 0;
    width: 5593px;
    height: 100%
}
.rotate li{
    position: relative;
    float: left;
    width: 799px;
    height: 100%;
}
.rotate a,
.rotate img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.rotate_num{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 36px;
    height: 36px;
    background-color: rgba(56,56,56,.9);
}
.numbox{
    height: 100%;
    text-align: center;
}
.numbox span{
    display: inline-block;
    width: 14.28%;
    height: 100%;
    border-radius: 0;
    margin: 0 -2px;
    color: #979696;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    transition: none;
}
.numbox span:hover{
    background-color: #2fc3a3;
    color: #fff;
    cursor: default;
}
.numbox .cur{
    background-color: #2fc3a3;
    color: #fff;
}


.main_content .content_r{
    height: 100%;
    width: 265px;
    background-color: #fff;
    float: right;
}
.content_r h2{
    cursor: default;
    background: url("../image/spr-icon.png") no-repeat -134px 3px;
    padding: 0 0 0 40px;
    font-size: 14px;
    margin: 25px 20px 10px;
    color: #3a3a3a;
    line-height: 100%;
    font-weight: normal;

}
.content_r h2 strong{
    display: block;
    font-size: 18px;
    color: #2fc3a3;
    font-weight: bold;
    line-height: 130%;
}
.content_r span{
    display: block;
    width: 265px;
    height: 101px;
}
.content_r span a{
    display: block;
    width: 100%;
    height: 100%;
}
.content_r span a img{
    display: block;
    margin-left: 18px;
}
.content_r span a:hover img{
    box-shadow:0 0 3px rgba(0,0,0,.4);
}
.content_r ul{
    font-size: 13px;
    color: #b6b6b6;
    padding: 10px 20px 0;
}
.content_r ul li{
    position: relative;
    width: 100%;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content_r ul li a{
    color: #767676;
}
.content_r ul li a:hover{
    color:#2fc3a2;
}


.main_act{
    height: 300px;
     margin-bottom: 15px;
}
.main_act .act_l{
    width: 186px;
    height: 100%;
    float: left;
    background: url("../image/bg-home2.jpg") no-repeat 0 100% ;
}
.main_act .act_l ul{
    width: 100%;
    height: 100%;
}
.act_l ul li{
    position: relative;
    float: left;
    width: 50%;
    height: 100px;
    text-align: center;
    overflow: hidden;
}
.act_l ul li i.icon{
    display: block;
    color: #cfae69;
    position: absolute;
    top: 22px;
    left: 50%;
    font-size: 34px;
    line-height: 99%;
    width: 28px;
    height: 28px;
    margin: -5px 0 0 -14px;
    text-indent: -2px;
}
.act_l .icon:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #cfae69;
    margin: -50% 0 0 -50%;
    transform: rotateZ(45deg);
}



.act_l ul li a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d4d4d4;
    font-size: 13px;
    padding: 63px 0 0;
    height: 37px;
}



.main_act .act_c{
    width: 799px;
    height: 100%;
    margin-left: 15px;
    float: left;
}
.act_c_not{
    width: 353px;
    height: 285px;
    background-color: #ffffff;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 15px 20px 0;
}
.tabpart_t{
    position: relative;
}
.tabpart_t  ul {
    height: 43px;
    position: relative;
}
.tabpart_t  ul li{
    float: left;
    width: 50px;
}
.tabpart_t li a{
    display: block;
    height: 43px;
    line-height: 43px;
    text-align: center;
}
.tabpart_t li a:hover {
    color: #2fc3a2;
}
.tabpart_t .bgcline{
    background: #ff8f17;
}
.cur{
    color: #2fc3a2;
}
.tabpart_t .more{
    position: absolute;
    top: 0;
    right: 0;
}
.tabpart_t .more a{
     color: #b9c1c1;
    font-weight: bold;
    text-align: right;
}
.tabpart_t em{
    width: 50px;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    line-height: 0;
    font-size: 0;
    background: #2fc3a2;
}

.act_c_not .listpart{
    position: relative;
    border-top: 1px solid #e4eae9;
    width: 100%;
    height: 222px;
    overflow: hidden;
    z-index: 1;
}
.listbox{
    width: 1780px;
    position: absolute;
    top: 18px;
    left: 0;
}
.listbox ul{
    float: left;
    font-size: 13px;
}
.listbox ul li{
    position: relative;
    margin: 0 5px;
}
 .tltag{
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 100%;
    margin-top: -7px;
    color: #767676;
    z-index: 5;
}
 .tltit{
    position: relative;
    display: block;
    padding: 6px 50px 5px 0;
    margin-left: 40px;
    color: #505050;
    width: 256px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 2;
}
.tltit:hover{
    color:#2FC3A2;
}
.tltsp{
   position: absolute;
    top: 50%;
    right: 0;
    line-height: 100%;
    margin-top: -6px;
    text-align: right;
    z-index: 1;
    color: #b1b1b1;
    overflow: hidden;
    white-space: nowrap;
}


.act_c_pic{
    display: inline-block;
    width: 391px;
    height: 100%;
    margin-left: 15px;
    float: right;
}
 .pic_bot{
     height: 142px;
     margin-top: 15px;
}
.pic_bot_l{
    width: 189px;
    height: 142px;
    position: relative;
    float: left;
    background: url("../image/bg-home2.jpg") no-repeat -451px 0;
}
.pic_bot h2{
    color: #cfae69;
    font-size: 22px;
    padding: 25px 0 0 20px;
}
.pic_bot p{
    margin: 15px 0 0;
    color: #777676;
    line-height: 130%;
    padding: 0 0 0 20px;
    font-size: 12px;
}
.pic_bot p em{
    display: block;
    font-style: normal;
}
.pic_bot a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9999px;
    background: #fff;
    opacity: 0;
    z-index: 2;
}

.pic_bot_r{
    width: 189px;
    height: 142px;
    float: right;
    position: relative;
    background: url("../image/bg-home2.jpg") no-repeat -451px -157px;
}

.main_act .act_r{
    width: 265px;
    height: 100%;
    background-color: #f0f3f8;
    float: right;
    overflow: hidden;
    position: relative;
}
.act_r .tabpart{
    width: 235px;
    height: 38px;

    padding: 15px 0 0;
    margin: 0 15px;
}
.tabpart ul{
    position: relative;
}
.tabpart ul li{
    width: 23px;
    height: 23px;
    margin: 0 0 0 3px;
    overflow: hidden;
    float: left;
}
.tabpart ul li a{
    display: block;
    text-align: center;
}
.com{
    position: relative;
    font-size: 18px;
    color: #b9c1c1;
    width: 100%;
    height: 100%;
    line-height: 24px;
    z-index: 2;
    text-indent: 1px;
}
.com:hover{
    color: #2FC3A2;
}
.cur .com::before{
    border-color: #2FC3A2;
}
.com::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -9px 0 0 -9px;
    z-index: -1;
    border: 1px solid #b9c1c1;
    transform: rotateZ(45deg);
}
.yh{
    background: url("../image/yh_icon.png") no-repeat 0 0;
}


.act_r .cotpart{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 266px;
    background-position: 0 100%;
    clear: both;
    overflow: hidden;
}
.role{
    position: absolute;
    right: -165px;
    bottom: 0;
    height: 100%;
    width: 165px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
}
.yihua{
    background-image: url(../image/role-9.png);
    right: 0;

}
.shendao{
    background-image: url(../image/role-8.png);
}
.taibai{
    background-image: url(../image/role-4.png);
}
.shenwei{
    background-image: url(../image/role-3.png);
}
.tangmen{
    background-image: url(../image/role-5.png);
}
.gaibang{
    background-image: url(../image/role-2.png);
}
.tianxiang{
    background-image: url(../image/role-6.png);
}
.zhenwu{
    background-image: url(../image/role-1.png);
}
.wudu{
    background-image: url(../image/role-7.png);
}



.npc{
    position: absolute;
    left: -180px;
    top: 0;
    width: 150px;
    padding: 20px 0 0 18px;
    color: #5d5d5d;
    font-size: 12px;

}
 .yihua1{
    left: 0px;
     z-index: 2;
}
.npc h3{
    font-size: 320%;
    color: #2fc3a2;
    font-weight: bold;
    line-height: 130%
}
.npc_wp{
    margin: 10px 0 0;
}
.npc_wp b{
    display: block;
    font-weight: bold;
    line-height: 18px;
}
.npc_level{
    margin: 10px 0 0;
}
.npc_level b{
    display: block;
    font-weight: normal;
    font-size: 13px;
    margin: 0 0 10px;
}

.npc_level i{
    display: inline-block;
    margin: 5px 5px 0 2px;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background-color: #eeeceb;
    border: 1px solid #c3c3c3;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.npc_level .hasColor{
    background-color: #ff8f17;
    border-color: #ff8f17;
}
.intro{
    margin: 20px 0 0;
    font-size: 13px;
    clear: both;
}
.intro .intro_x{
    /*display: inline-block;*/
    color: #fff;
    border-radius: 15px;
    padding: 5px 3px;
    text-align: center;
    width: 68px;
    font-size: 12px;
}
.greenbtn{
    margin: 0 10px 0 0;
    background-color: #2fc3a2;
}
.blackbtn{
    background-color: #2d2d2d;
}


.main_bot{
    width: 100%;
    height: 778px;
    padding-bottom: 80px;
}

.main_bot_l{
    position: relative;
    height: 738px;
    width: 156px;
    float: left;
    background: #3a3a3a;
    padding: 20px 15px;
    font-size: 13px
}
.nav_l{
    width: 100%;
    overflow: hidden;
}
.nav_l li{
    position: relative;
    border-bottom: 1px solid #474747;
    overflow: hidden;
    line-height: 41px;
    height: 41px;
}
.nav_l li a:hover{
    color:#fff;
    background-color:rgba(0,0,0,.04);
}
.icon_shop{
    width: 30px;
    height: 30px;
    top:4px;
    background: url("../image/icon_shop.png") no-repeat 0 0;
}
.icon{
    position: absolute;
    display: block;
    color: #cfae69;
    left: 30px;
    font-size: 30px;
}
.nav_l li a{
    position: relative;
    display: block;
    color: #d4d4d4;
    height: 100%;
    text-align: center;
    text-indent: 35px;
}
.ewma{
    position: relative;
    margin: 25px 0 0;
    padding: 30px 13px 0;
    color: #9c9c9c;
}
.ewma dt{
    position: absolute;
    top: 0;
    line-height: 18px;
    height: 18px;
    text-align: center;
    padding: 0 0 0 9px;
    cursor: pointer;
}
.ewma .app{
    left: 11px;
}
.ewma dt.cur{
    color: #f8f8f8;
}
.ewma dd{
    display: none;
    width: 130px;
    height: 130px;
}
.ewma dd.cur{
    display: block;
}
.ewma dd img{
    display: block;
    width: 100%;
    height: 100%;
}
.ewma  .wx{
    right: 17px;
    border-left: 1px solid #676767;
}
.main_bot_l .partner{
    padding: 0 13px;
    margin: 5px 0 0
}
.partner ul{
    position: relative;
    margin: 0 0 0 -12px;
    overflow: hidden;
}
.partner ul li{
    float: left;
    width: 35px;
    height: 35px;
    margin: 15px 0 0 12px;
}
.partner ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background: #5f5f5f;
    border-radius: 50%;
    overflow: hidden;
    color: #000;
}
.partner ul li a img{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.partner ul li a:hover img{
    opacity:1;
}

.main_bot_r{
    height: 100%;
    width: 1079px;
    float: right;
}
.inner_lft{
    width: 100%;
    height: 299px;
    margin-bottom: 15px;
}





.rec{
    position: relative;
    width: 799px;
    height: 299px;
    background:#fff;
    float: left;
    overflow: hidden;
}
.trtj{
    position: absolute;
    left: 0;
    top: 0;
    width: 392px;
    height: 100%;
    float: left;
    display: inline-block;

}

.trbox{
    position: relative;
    z-index: 1;
    padding: 30px 0 0;
    margin: 0 20px;
    overflow: hidden;
}
 h3{
    font-size: 16px;
    color: #2fc3a2;
    font-weight: bold;
}
 .tr_pics{
    position: relative;
    margin: 13px 0 13px -12px;
    overflow: hidden;
}
 .tr_pics a{
    display: block;
    float: left;
    width: 170px;
    height: 110px;
    margin: 0 0 0 12px;
}
 .tr_pics a img{
    width: 100%;
    height: 100%;
}
 .newslists{
    float: none;
    height: 100px;
    overflow: hidden;
     width: 100%;
     font-size: 13px;
}
.newslists li{
    position: relative;
    margin: 0 5px;
    float: left;
}
.newslists .tltit{
    margin-left: 0px;
    width: 290px;
}



.tr_size{
    display: inline-block;
    width: 68px;
    height: 100%;
    float: right;
    overflow: hidden;
    z-index: 3;
    position: relative;
}
.tr_size .tr_dt{
    width: 68px;
    height: 100%;
    float: left;
    background-color: skyblue;
    text-indent:-999px ;
    background: url("../image/fanstab.jpg") no-repeat 0 0;
}
.tr_size .trdd{
    position: absolute;
    left: 68px;
    width: 392px;
    float: right;
    height: 100%;
    background-color: #fff;
}

.tr_video{
    margin-left: -1px;
}

.tr_video .tr_dt{
    background-position: 0px 0px;
}
.tr_video dt.chance{
    background-position: -407px  0px;
}
.tr_cos dt.chance{
    background-position: -748px 0;
}
.tr_cos .tr_dt{
    background-position: -340px 0;
}
.tr_paint dt.chance{
    background-position: -554px  0px;
}
.tr_paint .tr_dt{
    background-position: -136px 0;
}

.tr_novel dt.chance{
    background-position: -612px 0;
}
.tr_novel .tr_dt{
    background-position: -204px 0;
}
.tr_music dt.chance{
    background-position: -475px 0;
}
.tr_music .tr_dt{
    background-position: -68px 0;
}
.tr_git dt.chance{
    background-position: -680px 0;
}
.tr_git .tr_dt{
    background-position: -272px 0;
}











.vid{
    width: 265px;
    height: 100%;
    float: right;
}
.vid ul{

}
.vid ul li{
    float: left;
    position: relative;
    width: 125px;
    height: 142px;
    background: #2fc3a3;
    overflow: hidden;
    font-size: 16px;
    -webkit-transition: box-shadow .3s ease-out 0s;
    transition: box-shadow .3s ease-out 0s
}
.vid ul li:nth-child(n+3){
    margin-top: 15px;
}
.vid ul li:nth-child(2n){
    margin-left: 15px;
}
.vid .icon{
    display: block;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 62px;
    height: 62px;
    line-height: 62px;
    color: #fff;
    background:url("../image/icon_3.png") no-repeat -10px -315px;
}
.vid .bz{
    background-position: -10px -530px;
}
.vid .op{
    background-position: -10px -745px;
}
.vid .yy{
    background-position: -10px -975px;
}
.vid ul li a{
    display: block;
    position: absolute;
    height: 42px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 100px 0 0;
    transition: all .2s ease-out 0s,padding .2s ease-out .05s,height .2s ease-out .05s;
}





.inner_con{
    width: 100%;
    height: 299px;
    margin-bottom: 15px;
}
.innerCenter_l{
    position: relative;
    width: 799px;
    height: 299px;
    float: left;
    /*background-color: #fff;*/
}
.tipstyle{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 43px;
    color: #2fc3a2;
    z-index: 5;
}
.right {
    float: right;
}
.innerCenter_l .tabpart_t{
    margin: 0 0 0 45px;
}
.innerCenter_l .tabpart_t a:hover,
.innerCenter_l .cur{
    color: #ff8f17;
}
.innerCenter_l .tltit{
    margin-left: 0;
    width: 290px;
}


.innerCenter_r{
    width: 265px;
    height: 299px;
    float: right;
    background-color: lightseagreen;
}
.innerCenter_r a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../image/home-guild.jpg") no-repeat 50% 50%;
}


.inner_rgt{
    width: 100%;
    height: 135px;
}
.inner_rgt .adv_l{
    width: 799px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.adv_l a{
    position: relative;
    float: left;
    width: 257px;
    height: 135px;
}
.inner_rgt a img{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner_rgt a:hover{
    opacity:.9;
}
.adv_l a:nth-child(2){
    margin: 0 14px;
}

.inner_rgt .adv_r{
    width: 265px;
    height: 100%;
    float: right;

}
.inner_rgt .adv_r a{
    position: relative;
    display: block;
    width: 265px;
    height: 135px;
}











/*main主体部分结束*/





/*footer模块开始*/
.footer{
    /*position: relative;*/
    height: 261px;
    width: 100%;
    font: 12px/20px "微软雅黑","宋体";
    background-color: #000;
}
.footer .footer_t{
    height: 56px;
    width: 100%;
    background-color: #1e2628;
}
.healthy{
    clear: both;
    background: #1e2628;
    padding: 8px 3%;
    text-align: center;
    color: #4f5f5f;
}
.bk{
    display: block;
}
.healthy strong {
    margin: 0 5px 0 0;
}
.footer .footer_b{
    height: 205px;
    width: 100%;
    background: url("../image/zwx4.png") no-repeat;
}

/*footer模块结束*/